{% comment %}
  {% render 'banner-collection'
    image: collection
    text_config: collection
  %}
{% endcomment %}


<div class="article-banner">
  <div class="article-banner__img-container">
    <img src="https://cdn.shopify.com/s/files/1/0866/2479/6980/products/Main_b13ad453-477c-4ed1-9b43-81f3345adfd6.jpg?v=1708778927">
  </div>

  <p>Dermatologist Approved</p>

  <button><a href="">Learn more</a></button>
</div>
