<div class="main-container-cart_hide">
  <div class="cart-drawer_hide">

  <header>    
    <img class="icon_exit-cart" src="https://cdn.shopify.com/s/files/1/0866/2479/6980/files/pngegg.png?v=1717532393" alt="">
    <h2 class="cart-count">Your cart ({{ cart.item_count }})</h2>
  </header>

  <main class="main-sideCart">
    <p class="text-empty_cart">Your cart is empty</p>
    <div class="content-card_cart"></div>
  </main>

  <footer>
    {% form 'cart', cart %}
      <div>
        <p>Subtotal</p>
        <p class="text_subtotal"></p>
      </div>
      <button type="submit" name="checkout">Checkout</button>
    {% endform %}
  </footer>
</div>
</div>


{% schema %}
{
    "name": "Cart Juan",
    "settings": [
        
        ]
}
{% endschema %}