<div>
    <p>Probando render de esta coleección</p>
</div>


{% schema %}
    {
      "name": "Banner de colección",
      "class": "section",
      "settings": [
        {
            "type": "image_picker",
            "id": "image_banner2",
            "label": "Image"
        },

        {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph"
        }       

      ]
    }
    {% endschema %}