<div>

    {% if section.settings.intro_text %}
        <h3>
        {{ section.settings.intro_text }}
        </h3>
    {%  elseif section.settings.image_banner2 %}
        <img src="{{ section.settings.image_banner2 | img_url: '300x300' }}" alt="">
    {% else %}
        <p>No hay nada para mostrar</p>
    {% endif %}

</div>


{% schema %}
    {
      "name": "Banner de colección",
      "class": "section",
      "settings": [
        {
            "type": "image_picker",
            "id": "image_banner2",
            "label": "Image"
        },

        {
            "type": "richtext",
            "id": "intro_text",
            "label": "Paragraph"
        }       

      ]
    }
    {% endschema %}