<div>

    <div class="profile">
        <img src="{{ section.settings.user_img | img_url: '300x300' }}" alt="">
        <h3>
        {{ section.settings.user_name }}
        </h3>
        <p>
            {{ section.settings.user_bio }}
        </p>
        <p>
            {{ settings.test_data }}
        </p>
    </div>
    
</div>

{% schema %}
{
    "name": "Profile",

    "settings": [
      {
        "type": "image_picker",
        "id": "user_img",
        "label": "User Photo"
      },
      {
        "type": "text",
        "id": "user_name",
        "label": "User Name"
      },
      {
        "type": "richtext",
        "id": "user_bio",
        "label": "User Bio"
      }
    ],

    "presets": [
        {
            "category": "Custom content",
            "name": "User profile"
        }
    ]
}
{% endschema %}