<head>
  <meta charset="utf-8" />
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 800px;
    }

   /* .swiper-slide {
      height: 300px;
      background: hsl(124, 57%, 34%);
      line-height: 300px;
      text-align: center;
      border: 2px, solid, #000;
    }*/

   .icon-section--content2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 40px 20px 40px 20px;
}

    .icon-section--content_cards2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  </style>
</head>

<body>
  <!-- Swiper -->
  <br />
  <div class="icon_section2 swiper mySwiper">
    <div class="icon-section--content2 swiper-wrapper">
        {%- for block in section.blocks -%}
            {%- if block.settings.image != blank -%}
                <div class="icon-section--content_cards2 swiper-slide">
                    {%- if block.settings.link != blank -%}
                    <a href="{{ block.settings.link }}">
                    
                    <img src="{{ block.settings.image | img_url: '300x300' }}" alt=""> 
                    </a> 
                  {%- endif -%} 
                    <p>{{ block.settings.text }}</p> 
                </div>                                            
            {%- endif -%}
        {%- endfor -%}
    </div>
</div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      watchSlidesProgress: true,
      slidesPerView: 5,
    });
  </script>
</body>

{% schema %}
    {
        "name": "Icon slider",
    
        "settings": [
            {
            "type": "header",
            "content": "Texto header"
          }
        ],

        "blocks": [
            {
            "type": "row",
            "name": "icon",
            "settings": [
                {
                "type": "image_picker",
                "id": "image",
                "label": "icon_svg"
                },
                {
                "type": "text",
                "id": "text",
                "label": "text_icon"
                },
                {
                "type": "url",
                "id": "link",
                "label": "link"
                }
            ]
            }
        ],
    
        "presets": [
    {
      "name": "Icon section2",
      "blocks": [
        {
          "type": "row"
        },
        {
          "type": "row"
        },
        {
          "type": "row"
        }
      ]
    }
  ]
    }
{% endschema %}
    