/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \**************************************************************************************************************/
.icon-section--content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 20px 40px 20px;
}
.icon-section--content .icon-section--content_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 492px) {
  .icon-section--content .icon-section--content_cards {
    margin-left: 40px;
    margin-right: 40px;
  }
}
