/*!**************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/index.scss ***!
  \**************************************************************************************************************/
.icon-section--content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 40px 20px 40px 20px;
}
.icon-section--content .icon-section--content_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 492px) {
  .icon-section--content .icon-section--content_cards {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.article-banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-column-end: span 2;
  justify-content: normal;
  position: relative;
}

.article-banner__img-container {
  width: 100%;
}

.article-banner img {
  width: 100px;
  height: 100px;
  justify-content: center;
}

#AjaxinatePagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

#AjaxinatePagination a {
  width: 120px;
  height: 45px;
  display: inline-block;
  text-align: center;
  padding: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  font: inherit;
  cursor: pointer;
}

.best_seller_tag {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.best_seller_tag__R {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.tag_best-seller img {
  width: 50px;
  height: 50px;
}

.section_banner {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  background-color: rgb(177, 177, 181);
}

.text_container {
  width: 30%;
  height: 100%;
}

.text_container h1 {
  text-align: center;
}

.image_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image_container h1 {
  width: 50%;
  text-align: center;
}

.image_container img {
  width: 50%;
  object-fit: none;
}

#shopify-section-template--22355156336948__product-grid {
  display: flex;
  justify-content: center;
}

.card_section {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
}
.card_section .grilla_cards {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 80px;
}
.card_section .grilla_cards .product_card {
  width: 300px;
  height: 500px;
  border: solid 1px black;
  padding: 10px;
  overflow: hidden;
}
.card_section .grilla_cards .product_card a {
  text-decoration: none;
}
.card_section .grilla_cards .product_card .product-image {
  position: relative;
  width: auto;
  height: 300px;
}
.card_section .grilla_cards .product_card .product-image .show-image-card {
  width: 100%;
  height: 100%;
  display: block;
}
.card_section .grilla_cards .product_card .product-image .first-image {
  transition: opacity 1s ease-in-out;
}
.card_section .grilla_cards .product_card .product-image .second-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.card_section .grilla_cards .product_card .product-image .zoom-image {
  transition: transform 0.5s ease;
}
.card_section .grilla_cards .product_card .product-image .tag_sold-out {
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: 15px;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.card_section .grilla_cards .product_card .product-image .tag_sale {
  color: white;
  font-size: 12px;
  background-color: black;
  border-radius: 15px;
  padding: 2px 10px 2px 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.card_section .grilla_cards .product_card .product-image:hover .zoom-image {
  max-width: auto;
  transform: scale(1.1);
}
.card_section .grilla_cards .product_card .product-image:hover .second-image {
  opacity: 1;
}
.card_section .grilla_cards .product_card .product-image:hover .first-image {
  opacity: 0;
}
.card_section .grilla_cards .info-card {
  width: 300px;
  height: 500px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.card_section .grilla_cards .info-card img {
  width: 300px;
  height: 500px;
  object-fit: cover;
}
.card_section .grilla_cards .info-card p {
  font-size: 24px;
  position: relative;
  margin: 0;
  height: 0;
}
.card_section .grilla_cards .info-card a {
  text-decoration: none;
  position: relative;
  margin: 0;
  height: 0;
}
.card_section .grilla_cards .info-card .top_title {
  bottom: 450px;
}
.card_section .grilla_cards .info-card .top_cta {
  bottom: 415px;
}
.card_section .grilla_cards .info-card .center_title {
  bottom: 280px;
}
.card_section .grilla_cards .info-card .center_cta {
  bottom: 245px;
}
.card_section .grilla_cards .info-card .bottom_title {
  bottom: 100px;
}
.card_section .grilla_cards .info-card .bottom_cta {
  bottom: 65px;
}
.card_section .paginate_collection-2 {
  display: flex;
  justify-content: center;
}
.card_section .paginate_collection-2 .prev {
  margin-right: 20px;
}
.card_section .paginate_collection-2 .prev a {
  text-decoration: none;
}
.card_section .paginate_collection-2 .page {
  margin-left: 10px;
  margin-right: 10px;
}
.card_section .paginate_collection-2 .current {
  margin-left: 10px;
  margin-right: 10px;
}
.card_section .paginate_collection-2 .next {
  margin-left: 18px;
}
.card_section .paginate_collection-2 .next a {
  text-decoration: none;
}
