.icon-section--content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px 20px 40px 20px;

    .icon-section--content_cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 492px) {
    .icon-section--content {

        .icon-section--content_cards{
            margin-left: 40px;
            margin-right: 40px;
        }
    }
}



.article-banner{
    align-items:center;
    display:flex;
    flex-direction:column;
    grid-column-end:span 2;
    justify-content:normal;
    position:relative;
}

.article-banner__img-container {
    width: 100%;
}

.article-banner img{
    width: 100px;
    height: 100px;
    justify-content: center;
}



    

