.section_banner{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    background-color: rgb(177, 177, 181);
}

.text_container {
    width: 30%;
    height: 100%;
}

.text_container h1 {
    text-align: center;
}

.image_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image_container h1 {
    width: 50%;
    text-align: center;
}

.image_container img {
    width: 50%;
    object-fit: none;
}

#shopify-section-template--22355193168180__product-grid{
    display: flex;
    justify-content: center;
}
.card_section {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    .grilla_cards {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 100px;
        row-gap: 80px;
        .product_card {
            width: 300px;
            height: 500px;
            border: solid 1px black;
            padding: 10px;
            overflow: hidden;
            a{
                text-decoration: none;        
            };
            .product-image {
                position: relative;
                width: auto;
                height: 300px;
                .show-image-card {
                    width: 100%;
                    height: 100%;
                    display: block;        
                };
                .first-image {
                    transition: opacity 1s ease-in-out; 
                };
                .second-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 1s ease-in-out;
                };
                .zoom-image{
                    transition: transform 0.5s ease;
                };
                .tag_sold-out {
                    color: white;
                    font-size: 12px;
                    background-color: black;
                    border-radius: 15px;
                    padding: 2px 10px 2px 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                };
                .tag_sale {
                    color: white;
                    font-size: 12px;
                    background-color: black;
                    border-radius: 15px;
                    padding: 2px 10px 2px 10px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
            };         
            .product-image:hover{
                .zoom-image{
                    max-width: auto;
                    transform: scale(1.1);
                };
                .second-image {
                    opacity: 1;
                };
                .first-image {
                    opacity: 0;
                }
            }
        };
        .info-card {
            width: 300px;
            height: 500px;
            border: solid 1px black;
            display: flex;
            flex-direction: column;  
            align-items: center;   
            overflow: hidden;   
            img{
                width: 300px;
                height: 500px;
                object-fit: cover; 
            };
            p{
                font-size: 24px;
                position: absolute;
                margin: 0;
            }
            a{
                text-decoration: none;
                position: absolute;
                margin: 0;
            };
            .top_title{    
                bottom: 160px;
            };
            .top_cta{
                bottom: 140px;
            };
            .center_title{
                bottom: -10px;
            };
            .center_cta{
                bottom: -30px;
            };
            .bottom_title{
                bottom: -190px;
            };
            .bottom_cta{
                bottom: -210px;
            }
        }
    };    
    .paginate_collection-2{
        display: flex;
        justify-content: center;
        .prev{
            margin-right: 20px;
            a{
                text-decoration: none;
            };
        }
        .page{
            margin-left: 10px;
            margin-right: 10px;
        };
        .current{
            margin-left: 10px;
            margin-right: 10px;
        };
        .next{
            margin-left: 18px;
            a{
                text-decoration: none;
            }
        }
    }
}










