:root {
  --primary-box-color: #112055;
  --primary-box-text: #fff;
  --primary-box-lighter: #357b70;
  --primary-box-darker: #357b70;
  --secondary-box-color: #4f9d92;
  --secondary-box-text: #000;
  --padding: 10px;
  --border-rad: 5px;
  --shadow: 4px 3px 19px 0px rgb(0 0 0 / 0.3);
}

$primary-box-colors: #112055;

// shame, we can't use HTML variables as value inside SCSS e.g '$primary-box-color-darker: darken(var(--primary-box-color), 20%)' SCSS wont recognize the variable
$primary-box-color-lighter: color-adjust($primary-box-colors, 20%);
$primary-box-color-darker: color-adjust($primary-box-colors, 10%);

.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;

  div:hover {
    box-shadow: none;
  }
}

%box-shape {
  padding: var(--padding);
  border-radius: var(--border-rad);
  box-shadow: var(--shadow);
}

.box-primary {
  @extend %box-shape;

  background-color: var(--primary-box-color);
  color: var(--primary-box-text);
}

.box-primary-lighter {
  @extend %box-shape;

  background-color: $primary-box-color-lighter;
}

.box-primary-darker {
  @extend %box-shape;

  background-color: $primary-box-color-darker;
  color: var(--primary-box-text);
}

.box-secondary {
  @extend %box-shape;

  background-color: var(--secondary-box-color);
  color: var(--secondary-text);
}

